html {
    width:300px;
    height:300px;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

body {
    margin:0;
    padding:0;
    overflow: none;
}

#menu_saucer {
    display: inline-block;
    position: relative;
    width:100%;
    height:auto;
    margin:0;
    padding:0;
}

#main_saucer {
    height:250px;
    width:100%;
    overflow-x:hidden;
    overflow-y:auto;
    margin:0;
}

#gridCont_saucer {
    background-color: #f40057;
    margin:0;
    padding:0;
    width:100%;
    box-shadow: 2px 0 2px 1px gray;

}

.mainB_saucer {
    padding:0px;
    padding-top:15px;
    padding-bottom:15px;
    margin:0;
    width:220px;
    font-size:18px;
    color:white;
    background-color:#f40057;
    text-decoration: none;
    float: left;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    border-bottom: 2px solid #ff5983;
}

.mini_saucer {
    padding:0px;
    padding-right:10px;
    padding-left:10px;
    padding-top:16px;
    padding-bottom:16px;
    margin:0;
    width:20px;
    font-size:18px;
    color:white;
    background-color:#f40057;
    text-decoration: none;
    float: left;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    border-bottom: 2px solid #ff5983;
}

#gridCont_saucer a:hover {
    border-color:white;
    transition: border-color 0.2s ease-in-out;
}

#gridCont_saucer img {
    margin:0;
    width:20px;
    height:20px;
    float: left;
    cursor: pointer;
}

#saucerIcon_saucer {
    width:100px;
    height:100px;
    padding-left:100px;
    padding-right: 100px;
    border-radius: 4px;
    margin:auto;
    margin-top:5px;
}

#sauce_saucer {
    width:196px;
    height:30px;
    margin-top:10px;
    margin-left:50px;
    margin-right:50px;
    border: 2px solid #f40057;
    border-radius: 40px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    outline:none;
    color:#484848;
}

#sauce_saucer:focus {
    outline:none;
}

.btn_saucer {
    width:200px;
    border:none;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:5px;
    margin-left:50px;
    margin-right:50px;
    cursor: pointer;
    outline: none;
}

.btn_saucer:focus {
    outline:none;
}

#openSauce_saucer {
    background-color: #304ffe;
}

.atf_saucer:hover {
    background-color: #ffd149;
    transition: background-color 0.1s ease-in-out;
}

#openSauce_saucer:hover {
    background-color: #7a7cff;
    transition: background-color 0.1s ease-in-out;
}

.selected_saucer {
    border-color:white;
}

.historyList_saucer {
    display:inline-block;
    position:relative;
    list-style: none;
    width:300px;
    height:auto;
    margin:0;
    padding:0;
    margin-top:5px
}

.historyItem_saucer {
    display:block;
    position: relative;
    float:left;
    width: 65px;
    border: 1px solid lightgray;
    margin: 1px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:1px;
    padding-left:1px;
    text-align: center;
}

.historyItem_saucer a {
    width:51px;
    padding:11px;
    text-decoration: none;
    color: gray;
    font-size:14px;
}

.historyItem_saucer a:hover {
    color: #f40057;
    transition: color 0.2s ease-in-out;
}

.historyItem_saucer:hover {
    border-color: #f40057;
    transition: border-color 0.2s ease-in-out;
}

#clr_saucer {
    display:inline-block;
    position: relative;
    text-decoration: none;
    color: red;
    margin:0;
    padding:0;
    margin-left:5px;
    cursor: pointer;
}